<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/main.css">
    <title>To Do List</title>
</head>

<body>
    <form action="/toDoList" method="post">
        <input type="text" name="name" placeholder="Add a todo..." />
        <button value="sumbit">Add todo</button>
    </form>
    {{#todos}}
    <form action="/completed" method="post">
        <div>
            <p class="task"><button class="mark-task" name="name" value="{{name}}">Mark as Complete</button>{{name}}</p>
        </div>
    </form>
    {{/todos}}
    <br>
    <p class="completed-list">|Completed Tasks|</p>
    {{#todos.completed}}
    <p>{{name}}</p>
    {{/todos.completed}}

</body>

</html>